@model IEnumerable<WebFood.Models.FoodItem>
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/CSS/HomePage.css" />
}

<div class="leftBar">
    <div>
        <button class="btnLeftBar"><h4>Khuyến Mãi 🔥</h4></button>
        <hr />
        <button class="btnLeftBar"><h4>Đồ Uống ☕</h4></button>
        <hr />
        <button class="btnLeftBar"><h4>Đồ Ăn 🍔</h4></button>
        <hr />
        <button class="btnLeftBar"><h4>Combo 🍔 ☕</h4></button>
        <hr />
        <button class="btnLeftBar"><h4>Đồ Thêm 🥢</h4></button>
        <hr />
        <button class="btnLeftBar"><h4>Đồ Ăn Vặt 🍟</h4></button>
        <hr />
        <button class="btnLeftBar"><h4>Tráng Miệng 🍉</h4></button>
        <hr />
        <img class="Gif" src="~/Content/images/Ganyu.gif" alt="Gif" />
    </div>
</div>

<div class="content">
    <!-- Thanh Menu -->
    <div class="Menu">
        <button class="nav-btnl">&lt;</button>
        <span class="menu-text">
            <button class="btnMenu">
                <img class="menu-img" src="~/Content/images/menu1.png" alt="menu1" />
            </button>
        </span>
        <span class="menu-text">
            <button class="btnMenu">
                <img class="menu-img" src="~/Content/images/menu2.png" alt="menu2" />
            </button>
        </span>
        <button class="nav-btnr">&gt;</button>
    </div>

    <!-- Nội dung chính -->
    <div class="MainContent">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("ChiTietSanPham", "Home", new { id = item.Id })" class="MainTextDiv" data-type="@item.Category">
                <img class="MainImgDiv" src="~/Content/images/@item.Image" alt="@item.Name" />
                <p class="FoodName">Món: @item.Name</p>
                <p class="FoodName">Giá: @String.Format("{0:N0}đ", item.Price)</p>
                <h5 class="order"></h5>
            </a>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Content/BE/homepage.js"></script>
}

